* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    background-image: url("star-wars-background.jpg");
    background-size: cover;
    background-position: center;
    color: white;

}

h1 {
    display: flex;
    justify-content: center;
    color: gold;
    margin: 20px;
}

h3 {
    color: gold;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gold;
}

#character-container {
    /*backdrop-filter: blur(50px);*/
    /*border-radius: 20px;*/
}

#display-text {

}

#info-field {
    max-width: 400px;
    display: flex;
    padding: 20px;
}

.text-character {
    /*backdrop-filter: blur(50px);*/
    /*border-radius: 20px;*/
}

#input-element {
    width: 250px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
}

#button-element {
    width: 100px;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
    border-radius: 20px;
}

#name-result {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li {
    list-style: none;
}